<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecom</title>
</head>
<body>
    <h1>welcome to ecom application</h1>
    <a href="/login"></a>
</body>
</html>