<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecom | SignUp</title>
    <style>
    </style>
</head>
<body>
    <form action="/signup" method="post">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="pass">
        <div onclick="handleclick()" style="cursor: pointer; outline: 1px solid black;width: 150px;">show pass</div>
        <button type="submit">Signup</button>
    </form>
    <script>
        function handleclick(){
            const inppass = document.getElementById("pass");
            if(inppass.getAttribute("type")==="password"){
                inppass.setAttribute("type","text")
            }else{
                inppass.setAttribute("type","password")
            }
        }
    </script>
</body>
</html>